.choose-seat {

    width: 100%;
    height: 100vh;
}

.container {

    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {

    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.04em;
    color: #293845;
}

.seats {

    width: 95%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer
}

.seat {

    width: 8%;
    height: 8%;
    margin: 1% 1% 1% 1%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #C3CFD9;
    border: 1px solid #808F9D;
    box-sizing: border-box;
    border-radius: 14px;
}

.seat h1 {

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
}

.description {

    width: 95%;
    height: 10%;
    display: flex;
}

.selected, .available, .unavailable {
    
    width: calc(100% / 3);
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seat-selected {

    width: 25px;
    height: 25px;

    background: #8DD7CF;
    border: 1px solid #1AAE9E;
    box-sizing: border-box;
    border-radius: 17px;
}

.seat-available {

    width: 24px;
    height: 24px;

    background: #C3CFD9;
    border: 1px solid #7B8B99;
    box-sizing: border-box;
    border-radius: 17px;
}

.seat-unavailable {

    width: 24px;
    height: 24px;

    background: #FBE192;
    border: 1px solid #F7C52B;
    box-sizing: border-box;
    border-radius: 17px;
}

.selected, .available, .unavailable h1 {

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.013em;
    color: #4E5A65;
}

/* seats colors */
.green  { background-color: #8DD7CF }
.gray   { background-color: #C3CFD9 }
.yellow { background-color: #FBE192 }

.inputs-container {

    width: 100%;
    height: 30%;
}

form {

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input {

    width: 90%;
    height: 45%;
    margin-top: 1%;

    background: #FFFFFF;
    border: 2px solid #D5D5D5;
    box-sizing: border-box;
    border-radius: 3px;
}

.inputs-container button {

    width: 90%;
    height: 35%;
    margin-top: 5%;
    margin-bottom: 5%;

    cursor: pointer;

    background: #E8833A;
    border-radius: 3px;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}
    
@media (min-width: 600px) {

    .seats {

        width: 65%;
        height: 40%;
    }

    .description {

        width: 65%;
    }
    
    .seat {
        
        width: 5%;
        height: 12%;
    }

    .inputs-container {

        width: 50%;
    }
}